body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f7fafc;
  margin: 0;
  max-width: 1600px;
  margin: auto;
}
.container {
  text-align: left;
  /* background-color: white; */
  padding: 2rem;
  /* border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
  width: 50%;
  margin: auto;
}
.profile-img {
  /* width: 6rem;
  height: 6rem; */
  margin: 0 auto;
  border-radius: 50%;
  height: 160px;
  width: 160px;
}
.name {
  margin-top: 1rem;
  font-size: 2.25rem;
  font-weight: bold;
  margin-bottom: 0;
  padding: 0;
}
.description {
  margin-top: 0.5rem;
  color: #1E1E1E;
  line-height: 1.5;
}
.social-icons {
  display: flex;
  justify-content: left;
  gap: 1rem;
  margin-top: 1rem;
}
.social-icons a {
  color: #718096;
  transition: color 0.3s;
}
.social-icons a:hover {
  color: #1a202c;
}
.buttons {
  display: flex;
  justify-content: left;
  gap: 0.5rem;
  margin-top: 1rem;
}
.button {
  background-color: #edf2f7;
  color: #020710;
  padding: 0.6rem 1rem;
  border-radius: 0.35rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: 500;
  font-size: 15px;
}
.button:hover {
  background-color: #e2e8f0;
}


.icon {
  width: 28px; /* Adjust size as needed */
  height: 28px;
  stroke: black; /* Default color */
  transition: stroke 0.3s ease; /* Smooth transition */
}

.icon:hover {
  stroke: #8E7BCF; /* Color on hover */
}